
*{margin: 0; padding: 0; box-sizing: border-box;}

#best_item{width:100%; margin: 0 auto; padding: 100px 0px}
#best_item .inner{position: relative; width: 1300px; margin: 0 auto; padding-bottom: 40px; }

#best_item .swiper-container{width: 1180px; height: 100%;}

/* 이미지 삽입*/
#best_item .swiper-slide{width: 100%; height: 100%;}

#best_item .swiper-slide .pic{width: 100%; height: 100%;}
#best_item .swiper-slide .pic img{width: 100%;}
#best_item .swiper-slide .msg{}
#best_item .swiper-slide .msg .txt1{font: bold 16px '맑은 고딕';}
#best_item .swiper-slide .msg .txt2{font: 16px '맑은 고딕';}

#best_item .swiper-button-prev,
#best_item .swiper-button-next{transform: translateY(-40%);}
#best_item .swiper-pagination{position: absolute; left: 50%;bottom: 0; transform: translateX(-50%);}
#best_item .swiper-pagination-bullet{margin: 0 7px;}






