*{box-sizing: border-box;}
a{text-decoration: none;}
ol,ul,li{list-style: none;}
button{outline: none;}

#header{width:100%; height:120px; background:#f6f5ef; border-top: 3px solid black; position: relative;}
#header .inner{width:1180px; margin: 0 auto; }
#header .inner::after{content:''; display: block; clear: both;}

#header .toggle{display: none;}
#header .logo{float:left; width:120px; height:120px;}
#header .logo>a{display: block;}
#header .logo>a>img{width:100%; height:100%;}

#header .nav_wrap{float:right;}

#header .global_menu{text-align: right; margin-top:5px;}
#header .global_menu>li{display: inline-block; padding-left:40px;}
#header .global_menu>li>a{display: block; font-size:13px; color: #555;}
#header .global_menu .search{width:34px; height:34px; border-radius: 5px; background: #fff; border:1px solid #ddd;}
#header .global_menu .search i{font-size: 14px;}

#header .gnb_wrap{float:left; width:900px; height:66px; }
#gnb>li{float:left; padding:0 30px;}
#gnb>li>a{display: block; font-size:15px; color: #333;}

#gnb>li .sub_wrap{position: absolute; top:123px; left:0; width:100%; background:#2c2a29 ;}