*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
ol,ul,li{list-style: none;}

.content{width:100%; padding: 150px 0;}
.content .inner{width:1180px; margin: 0 auto;}
.content .inner::after{content: ''; clear: both; display: block;}

/*-----mdPick-------------------------------------------------------------------------------*/
#md_pick .swiper-container{width:100%; height:700px; margin: 0 auto; padding-top:150px;  }
/*전체 슬라이드*/
#md_pick .swiper-container .swiper-slide{width:100%; opacity: 0.5; transition: 0.5s;}
/*현재 슬라이드*/
#md_pick .swiper-container .swiper-slide-active{opacity: 1; transform: scale(1.5); z-index: 5; }

#md_pick .swiper-slide .pic{width:300px; height:300px; border-radius: 100%; overflow: hidden; margin: 0 auto; }
#md_pick .swiper-slide .pic img{width:150%;}

#md_pick .swiper-slide .msg{text-align: center;}
#md_pick .swiper-slide .msg h3{margin: 10px 0; font-size: 14px; font-weight: bold; color: #444; opacity: 0;}
#md_pick .swiper-slide .msg p{font-size: 11px; color: #777; opacity: 0;}

#md_pick .swiper-slide-active .msg h3{opacity: 1;}
#md_pick .swiper-slide-active .msg p{opacity: 1;}

#md_pick .swiper-button-prev{left:280px; transform: translateY(-80px);}
#md_pick .swiper-button-next{right:280px; transform: translateY(-80px);}


/*-----topSeller-----------------------------------------------------------------------------*/
#top_seller .inner{position: relative;}
#top_seller .swiper-container{width:1000px; height:500px; margin: 0 auto; }
#top_seller .swiper-slide{width:250px; opacity: 0.5; transition: 0.5s;}
#top_seller .swiper-slide img{width:100%;}

#top_seller .swiper-slide-active{width:450px; z-index: 5; opacity: 1;}

#top_seller .swiper-button-prev{left:10px;}
#top_seller .swiper-button-next{right:10px;}
#top_seller .swiper-pagination{left:50%; bottom:0; transform: translate(-50%,-50%);}
#top_seller .swiper-pagination-bullet{margin: 0 5px;}



/*-----bestItem-----------------------------------------------------------------------------*/

#best_item .swiper-container{width:500px; height:500px; border-radius: 100%; margin: 100px auto; }
#best_item .swiper-slide {
    position: relative; width:300px; height:500px; border-radius: 100%;
    border: 15px solid crimson; perspective: 1500px; overflow: hidden; 
}
#best_item .swiper-slide>img{
    display: block; width:100%; height:100%; border-radius: 100%;
}

#best_item .swiper-slide-active>img{animation: rotate 1s;}

@keyframes rotate{
    0%{transform: rotateY(180deg);}
    80%{transform: rotateY(375deg);}
    100%{transform: rotateY(360deg);}
}





















