
*{margin: 0; padding: 0; box-sizing: border-box;}

#visual{width:100%; height: 100vh; margin: 0 auto; border: 10px solid black;}

#visual .swiper-container{width: 100%; height: 100%;}

/* 이미지 삽입*/
#visual .swiper-slide{position: relative; width: 100%; height: 100%;}
#visual .swiper-slide img{display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%;}
#visual .swiper-slide:last-child img{top: 0;}

#visual .swiper-slide .msg{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
    text-align: center; overflow: hidden;
}
#visual .swiper-slide .msg .txt1{
    font: bold 72px/2 '맑은 고딕'; color: #fff; text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(-50px); opacity: 0; transition: 1s 0.2s;
}
#visual .swiper-slide .msg .txt2{
    font: 16px '맑은 고딕'; color: #fff;text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(50px); opacity: 0; transition: 1s 0.6s;
}


#visual .swiper-slide-active .msg .txt1{opacity: 1; transform: translateX(0px);}
#visual .swiper-slide-active .msg .txt2{opacity: 1; transform: translateX(0px);}










